body {
	/* Remember! Background for body repeats behind slides */
	background: rgba(178,207,226,1);
	background: -moz-linear-gradient(top, rgba(178,207,226,1) 0%, rgba(178,207,226,1) 1%, rgba(227,230,250,1) 53%, rgba(178,207,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(178,207,226,1)), color-stop(1%, rgba(178,207,226,1)), color-stop(53%, rgba(227,230,250,1)), color-stop(100%, rgba(178,207,226,1)));
	background: -webkit-linear-gradient(top, rgba(178,207,226,1) 0%, rgba(178,207,226,1) 1%, rgba(227,230,250,1) 53%, rgba(178,207,226,1) 100%);
	background: -o-linear-gradient(top, rgba(178,207,226,1) 0%, rgba(178,207,226,1) 1%, rgba(227,230,250,1) 53%, rgba(178,207,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(178,207,226,1) 0%, rgba(178,207,226,1) 1%, rgba(227,230,250,1) 53%, rgba(178,207,226,1) 100%);
	background: linear-gradient(to bottom, rgba(178,207,226,1) 0%, rgba(178,207,226,1) 1%, rgba(227,230,250,1) 53%, rgba(178,207,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2cfe2', endColorstr='#b2cfe2', GradientType=0 );
}

/* Remember! Replace image url with your own */
.tps-section:nth-child(1n+1) .tps-wrapper {
  background: url("../images/img1.jpg") center center;
  background-size: cover;
}

.tps-section:nth-child(2n+1) .tps-wrapper {
  background:  url("../images/img2.jpg") center center;
  background-size: cover;
}

.tps-section:nth-child(3n+1) .tps-wrapper {
  background:  url("../images/img3.jpg") center center;
  background-size: cover;
}

.tps-section:nth-child(4n+1) .tps-wrapper {
  background:  url("../images/img4.jpg") center center;
  background-size: cover;
}

.tps-section:nth-child(5n+1) .tps-wrapper {
  background:  url("../images/img5.jpg") center center;
  background-size: cover;
}

.tps-section:nth-child(6n+1) .tps-wrapper {
  background:  url("../images/img6.jpg") center center;
  background-size: cover;
}

.tps-section:nth-child(7n+1) .tps-wrapper {
  background:  url("../images/img7.jpg") center center;
  background-size: cover;
}
